@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: "Nunito", monospace;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root {
    --main-color: #006341;
    --dark-color: #1e1e1e;
    --dark-pale: #242221;
    --light-color: #f8f8f8;
}

/* COMMONS */
a {
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
}

p {
    font-weight: 500;
}

.bold {
    font-weight: 800;
    font-size: 14px;
}

/* ONLY STARBUCK */
a:hover {
    background-color: #039145;
}

.header-container {
    background-color: var(--light-color);
}

#header {
    position: relative;
    /* background-color: rgb(180, 211, 242); */
    padding: 16px 100px;
    display: flex;
}

.decorative-line {
    display: block;
    height: 12px;
    background-color: var(--main-color);
    width: 100%;
}

.logo-container {
    display: inline-block;
    flex: 1;
}

.store-location-container {

    flex: 2;
    text-align: center;
    margin: auto;;
}

.store-location span {
    color: var(--main-color);
    font-size: 16px;
    /* margin: auto; */
    /* background-color: crimson; */
}

.location-marker {
    width: 16px;
    /* background-color: coral; */
}

.nav-menu {
    flex: 8;
    display: flex;
    align-items: flex-end;
}

.nav-menu ul {
    width: 80%;
    display: flex;
}

.nav-menu a {
    color: var(--dark-color);
    font-size: 20px;
    padding: 16px;
    padding-left: 12px;
}

.nav-menu a:hover {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.megaNav {
    background-color: var(--dark-color);
    padding: 16px 100px;
    padding-top: 0px;
    color: #fff;
}

.megaNav .container {
    /* background-color: brown; */
    /* background: url("../assets/imgs/Girl.jfif"); */
    background: url("../assets/imgs/pattern_stars.png");
    background-position: 50%;
    background-size: 10%;
    /* min-height: 100px; */
}

.megaNav .container .fields {
    color: #fff;
    display: none;
    flex-direction: row;
}

.megaNav .container .fields.open {
    display: flex;
}

.menu_content {
    background-color: var(--dark-color);
    flex: 5;
}

.menu_content a {
    color: #fff
}

.menu_content .nav-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-left: 40px;
}

.menu_content .nav-blocks > li a {
    font-size: 12px;
}

.menu_content .nav-blocks > li a.bold {
    font-size: 14px;
}

.menu_promo {
    /* background-color: salmon; */
    padding: 24px;
    flex: 1;
    /* height: 300px */
    padding-bottom: 40px;
}

.menu_promo .promo-clickable {
    /* background-color: salmon; */
    display: block;
    width: 60%;
}

.menu_promo .promo-clickable p {

}



/* body {
    background-color: lightblue;
} */

/* main style */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-space {

}
.banner {
    transform: translateX(-19%);
    object-fit: cover;
    display: block;
    width: 160%;
    position: relative;
    z-index: 1;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;

}

.content-grid {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    font-family: "Nunito";
    background-color: #006341;
    width: 100%;
}

.content-grid .content-title {
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 1px;
    display: block;
    text-align: left;
}

.content-media {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aqua;
}

.content-content {
    background-color: antiquewhite;
    align-items: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}