@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: "Nunito", monospace;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

:root {
    --main-color: #006341;
    --dark-color: #1e1e1e;
    --dark-pale: #242221;
    --light-color: #f8f8f8;
}

/* COMMONS */
a {
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
}

p {
    font-weight: 500;
}

.bold {
    font-weight: 800;
    font-size: 14px;
    padding: 1px 0px;
}

/* ONLY STARBUCK */
/* a:hover {
    background-color: #039145;
} */

.header-container {
    background-color: var(--light-color);
}

#header {
    position: relative;
    /* background-color: rgb(180, 211, 242); */
    padding: 16px 100px;
    display: flex;
}

.decorative-line {
    display: block;
    height: 12px;
    background-color: var(--main-color);
    width: 100%;
}

.logo-container {
    display: inline-block;
    flex: 1;
}

.store-location-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-location > span {
    color: var(--main-color);
    font-size: 16px;
    height: 24px;
    /* display: inline-block; */
    /* line-height: 16px; */
}

.store-location img {
    height: 24px;
    /* display: inline-block; */
    /* line-height: 16px; */
}

.nav-menu {
    flex: 8;
    display: flex;
    align-items: flex-end;
}

.nav-menu ul {
    width: 80%;
    display: flex;
}

.nav-menu a {
    color: var(--dark-color);
    font-size: 20px;
    padding: 16px;
    padding-left: 12px;
}

.nav-menu li.hovered a {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.megaNav {
    background-color: var(--dark-color);
    padding: 0px 100px;
    color: #fff;
}

.megaNav .container {
    /* background: url("../assets/imgs/Girl.jfif"); */
    background: url("../assets/imgs/pattern_stars.png");
    background-position: 50%;
    background-size: 10%;
}

.megaNav .container .fields {
    color: #fff;
    display: none;
    flex-direction: row;
}

.megaNav .container .fields.open {
    display: flex;
}

.menu_content {
    background-color: var(--dark-color);
    flex: 5;
    padding-top: 16px;
}

.menu_content a {
    color: #fff
}

.menu_content a:hover {
    background-color: #039145;
}

.menu_content .nav-blocks {
    /* background-color: rgb(207, 146, 146); */
    display: grid;
    grid-template-columns: 6fr 6fr 5fr 5fr;
    gap: 40px;
    padding: 0 0px 36px 40px;
    margin: 0 8px 12px 0px;
    border-bottom: solid 1px rgb(120, 120, 120);
}

.menu_content .nav-blocks > li > ol > li{
    height: 16px;
}

.menu_content .nav-blocks > li a {
    font-size: 12px;
}

.menu_content .nav-blocks > li a.bold {
    font-size: 14px;
}

.menu_promo {
    /* background-color: salmon; */
    padding: 24px;
    flex: 1;
    /* height: 300px */
    padding-bottom: 40px;
}

/* .menu_promo .promo-clickable {
    background-color: salmon;
    display: block;
    width: 60%;
} */

.menu_promo img {
    width: 100%;
}

.menu_promo a {
    display: block;
    width: 75%;
}

/* footer  */

.foot-cont{
    display:block;
    justify-content: space-around;
    background-color: aquamarine;
    
}

.foot-item {
    width: 100%;
    margin: 0;
    border: 3px solid #333;
    background-color: #dfdfdf;
}


.foot-top{
    min-height: 100px;

}
.foot-body{
    min-height: 200px;

}
.foot-bottom{
    min-height: 200px;
}